<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="styles/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/css?family=Mitr|Squada+One" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel= "stylesheet" type= "text/css" href= "styles/styles.css">
    <link rel= "stylesheet" type= "text/css" href= "styles/buttons.css">
    <title>Raspberry Pi Application</title>
    <!--meta data tags-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
</head>
<body ng-app="app" ng-controller="AppController as appCtrl">
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Raspberry Pi</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Raspberry Pi Movement!</h1>
            <div class="row center">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
            <div class="row center">
                <a href="/map" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Find that pi</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="styles/background1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="parallax"><iframe id="camera-screen" frameborder="0" class="iframe"></iframe></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center button-background">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <div>
                    <div class="row">
                        <div class="row">
                            <button class="btn waves-effect waves-light" ng-click="appCtrl.driveForwards()">forwards</button>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light" ng-click="appCtrl.driveLeft()">left</button>
                            <button class="btn-floating btn-large waves-effect waves-light red" ng-click="appCtrl.getData()"><i class="large material-icons">volume_up</i></button>
                            <button class="btn waves-effect waves-light" ng-click="appCtrl.driveRight()">right</button>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light" ng-click="appCtrl.driveBackwards()">backwards</button>
                        </div>
                    </div>
                </div>
                <h4>Which way is the pi going?</h4>
                <div ng-bind="appCtrl.requestedData"></div>
                <button class="btn blue-grey-text btn-large" ng-click="appCtrl.killPi()">Exit</button>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="styles/background3.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
</body>
<!--cdn imports-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-leaflet-directive/0.10.0/angular-leaflet-directive.min.js"></script>
<!--customjs imports-->
<!--jQuery imports-->
<script src= "scripts/jquery/init.js"></script>
<script src= "scripts/jquery/camera.js"></script>
<!--AngularJS imports-->
<script src= "scripts/app.js"></script>
<script src= "scripts/MapController.js"></script>
<script src= "scripts/AppController.js"></script>
<script src= "scripts/ledService.js"></script>
<script src= "scripts/driveService.js"></script>
<script src= "scripts/exitService.js"></script>
</html>